.cityReviews {
    padding: 33px 31px;
    background-color: var(--white);
    margin-top: 20px;
    margin-bottom: 50px;
}

.cityReviews__title {
    font-size: var(--font-700);
    font-weight: 700;
    margin-bottom: 21px;
}

.cityReviews__slider {
    position: relative;
}

.cityReviews__slider::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 25px;
    background-image: linear-gradient(to left, #5f5f5f0a, transparent);
    right: 0;
    top: 0;
    z-index: 100;
}

.cityReviews__controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 31px;
}

.cityReviews__allReviewsBtn {
    width: 124px;
    height: 40px;
    outline: 2px solid var(--orange-0);
    background-color: var(--white);
    border-radius: 2px;
}

.cityReviews__allReviewsBtn:hover {
    background-color: var(--orange-0);
    color: var(--font-white);
}

.cityReviews__allReviewsBtn:active {
    scale: 0.98;
}