.aboutCity {
    display: grid;
    grid-template-rows: 1fr auto;
    align-items: center;
    justify-items: center;
    height: fit-content;
    background-color: var(--white);
}

@media (min-width: 992px) {
    .aboutCity {
        grid-template-rows: unset;
        grid-template-columns: 1fr 1fr;
        height: 440px;
    }
}

@media (max-width: 769px) {
    .aboutCity__img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.aboutCity__body {
    padding: 30px;
}

.aboutCity__title {
    font-size: var(--font-700);
    font-weight: 700;
    margin-bottom: 20px;
}

.aboutCity__title::first-letter {
    text-transform: capitalize;
}

.aboutCity__text {
    font-size: var(--font-500);
    font-weight: 300;
    line-height: 25px;
    margin-bottom: 10px;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    max-height: 360px;
}

.aboutCity__text::first-letter {
    text-transform: capitalize;
}

.aboutCity__link {
    font-size: var(--font-500);
    position: relative;
    z-index: 1;
    transition: 0.3s;
}

.aboutCity__link::before {
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: var(--orange-0);
    bottom: -5px;
    left: 0;
    transition: 0.3s;
    z-index: -1;
}

.aboutCity__link:hover {
    color: var(--font-white);
}

.aboutCity__link:hover::before {
    height: calc(100% + 5px);
}